.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 200px;
}

.nav-items > ul {
  display: flex;
  font-size: 24px;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  background-color: rgb(255, 242, 242);
  padding: 5px;
  width: 200px;
  height: auto;
  margin-left: 5px;
  &:hover {
    cursor: pointer;
    border: 1px solid black;
  }
}
.search {
  padding: 10px;
}
.food1 {
  width: 100%;
}
.filter-btn {
  margin: 10px;
  cursor: pointer;
}
.filterd-results {
  margin-left: 5px;
}
.clear-filter-btn {
  margin-left: 10px;
  cursor: pointer;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-cards {
  background-color: grey;
  width: 200px;
  height: 400px;
  margin: 20px;
  border-radius: 5px;
}
.login {
  padding: 0 20px;
  margin: 10px;
  cursor: pointer;
}
.user-card {
  padding: 10px;
  border: 1px solid black;
}
